# We all use macs here
.DS_Store

# PyCharm files
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Packages
.Python
eggs
.eggs
develop-eggs
*.egg
*.egg-info
downloads
dist
env
build
eggs
parts
bin
var
sdist
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
coverage.xml
.tox
nosetests.xml
junit.xml
.cache
htmlcov

# Translations
*.mo

#local settings
*settings/local.py

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
